{{define "body"}}
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>Imperator</h1>
    <p>This is a test message from Imperator...</p>
  </body>
</html>
{{end}}

